:host {
    footer {
      background-color: var(--ds-footer-bg);
      text-align: center;
      z-index: var(--ds-footer-z-index);
      border-top: var(--ds-footer-border);
      padding: var(--ds-footer-padding);
  
    div.row {
      margin-bottom: 55px;
    }
  
    div.row.logos {
      margin-bottom: 21px;
    }
  
      p {
        margin: 0;
      }
  
      div > img {
        height: var(--ds-footer-logo-height);
      }
  
  
      div.socials a:hover {
        text-decoration: none;
      }
  
      span.social {
        line-height: 32px;
        vertical-align: top;
      }
  
      .top-footer {
        background-color: var(--ds-top-footer-bg);
        padding: var(--ds-footer-padding);
        margin: calc(var(--ds-footer-padding) * -1);
      }
  
      .bottom-footer {
        ul {
          li {
            display: inline-flex;
  
            a {
              padding: 0 calc(var(--bs-spacer) / 2);
              color: inherit
            }
  
            &:not(:last-child) {
              &:after {
                content: '';
                border-right: 1px var(--bs-secondary) solid;
              }
  
            }
          }
        }
      }
  
      @media (max-width: 992px) {
        div.socials { display: none; }
        div.row.logos {
          margin-bottom: 0;
        }
      .built-by {
        margin: 34px auto 0 auto;
      }
      }
  
      @media (max-width: 767px) {
  
        div.row {
          margin: 0;
        }
  
        div.row div {
          margin-bottom: 34px!important;
        }
  
      div.row.logos img {
        width: 50%!important;
      }
  
      div.row div.built-by {
        margin-top: 0;
        margin-bottom: 0!important;
      }
    }
  
    }
  }
  
  
  
  
  