<footer class="text-lg-start">
    <div *ngIf="showTopFooter" class="top-footer">
      <!-- Grid container -->
      <div class=" container p-4">
        <!--Grid row-->
        <div class="row">
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-6">
            <h5 class="text-uppercase">Contact EPU</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                Phone: +251 116 860570
              </li>
              <li>
                Email: epu_contact@epu.edu.et
              </li>
              <li>
                Address: Po.Box: 1503,<br>Sendafa, Oromia,<br>Ethiopia
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-6">
            <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a target="_blank" href="https://www.epu.edu.et/" class="">Ethiopian Police University</a>
              </li>
              <li>
                <a target="_blank" href="https://www.facebook.com/PeaceMinistry.ETH/" class="">Ministry of Peace</a>
              </li>
              <li>
                <a target="_blank" href="http://www.aau.edu.et/" class="">Addis Ababa University</a>
              </li>
              <li>
                <a target="_blank" href="https://www.eag.gov.et/am-et/" class="">FDRE Attorney General</a>
              </li>
              <li>
                <a target="_blank" href="http://www.federalpolice.gov.et/" class="">Federal Police Commission</a>
              </li>
              <li>
                <a target="_blank" href="https://www.moshe.gov.et/" class="">Ministry of Science and Higher Education</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 socials">
            <h5 class="text-uppercase">Social Media</h5>
            <p>
              <a target="_blank" href="https://www.facebook.com/ethiopianpoliceuniversity/"><i class="fab fa-2x fa-facebook">&nbsp;</i>&nbsp;<span class="social">Follow EPU on Facebook</span></a>
            </p>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
  
  
  
        <!--Grid row-->
        <div class="row logos">
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <p><a target="_blank" href="https://www.dcaf.ch/"><img src="https://www.dcaf.ch/sites/default/files/logo-old.png" width="80%" height="auto" alt="DCAF"></a></p>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <p><img src="../assets/images/european-union-logo.png" width="80%" height="auto" alt="Funded by the European Union"></p>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 built-by">
              <p><a target="_blank" href="https://www.ethicalsector.com"><img src="../assets/images/esc-logo.png" width="70%" height="auto" alt="Built by Ethical Sector Communications Ltd."></a></p>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
  
  
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="bottom-footer p-1 d-flex justify-content-center align-items-center text-white">
      <div class="content-container">
        <p class="m-0">
          {{ 'footer.copyright' | translate:{year: dateObj | date:'y'} }}
          <a class="text-white"
             href="https://www.epu.edu.et/">Ethiopian Police University</a>
        </p>
        <ul class="footer-info list-unstyled small d-flex justify-content-center mb-0">
          <li>
            <a class="text-white" target="_blank" href="https://www.epu.edu.et/contact-us/">{{ 'contact.us' | translate}}</a>
          </li>
          <li>
            <a class="text-white" target="_blank" href="https://www.epu.edu.et/ehiopian-police-university-college/privacy-policy/">{{ 'footer.link.privacy-policy' | translate}}</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Copyright -->
  </footer>
  