<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="d-flex flex-wrap">
      <div>
        <h1 class="display-3">EPU Digital Library</h1>
        <img src="../../assets/images/mockup-stack-beside-keyboard.jpg" class="homepage-image">

        <p class="lead"><strong>Ethiopian Police University</strong> aims to become a center of excellence in police training and education in Africa by 2030 G.C.</p>
      </div>
    </div>
    <h3>Mission of EPU:</h3>
    <ul>
      <li>Produce police leaders and professionals who i have the required knowledge, skill and attitude by offering quality, relevant and training.</li>
      <li>Conduct problem solving research and provide consultancy and community service.</li>
      <li>Provide capacity building assistance to the region police training colleges and centers.</li>
      <li>Lead the formulation of national standards in police training and education and assure its implementation.</li>
    </ul>
    <h3>Core Values:</h3>
    <ul>
    <li><strong>Professionalism:</strong> to be a competent police officer by applying police principle and ethics respecting the command chain</li>
    <li><strong>Integrity:</strong> to be loyal and protective for institutional, national and international code of conducts in every policing mission or operation</li>
    <li><strong>Respect for Diversity:</strong> to appreciate multiplicity in the institution and communities from different dimensions or contexts</li>
    <li><strong>Respect for Human Right:</strong> to be committed to respect, promote and protect Human Rights within the institution and during any engagement in the community</li>
    </ul>
  </div>
</div>
